In [1]:
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import Image
from time import sleep
import os
import numpy as np
import sklearn as sk
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.decomposition import PCA
from sklearn.impute import SimpleImputer
import time

from amb_sdk.sdk import DarwinSdk

In [2]:
# Login
ds = DarwinSdk()
ds.set_url('https://amb-demo-api.sparkcognition.com/v1/')
ds.auth_login_user('vargasbri2@gmail.com', 'qNuNeX5JGY')

(True,
 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1NTU5ODk4NDEsImlhdCI6MTU1NTk4MjY0MSwibmJmIjoxNTU1OTgyNjQxLCJqdGkiOiIzN2Q4NzRlZi1hNjBjLTRhMjktODgwMi0xZGUyN2M1OWVlNjQiLCJpZGVudGl0eSI6Ijc2NmRiM2JjLTRmMzUtMTFlOS1iMzEwLTc3ZWRkN2EzNzNhOSIsImZyZXNoIjpmYWxzZSwidHlwZSI6ImFjY2VzcyJ9.TcrSy3XjTUHirk_iE7Xvn1GJvsi6eZLVPEBln2N_4kQ')

In [3]:
combined_filename = 'COMBINEDDATA.csv'
df = pd.read_csv(combined_filename)
df.head()

,State_And_County_FIPS_Code,CHSI_State_Name,CHSI_County_Name,Population_Size,Population_Density,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,...,Pert_Rpt,Pert_Exp,Syphilis_Rpt,Syphilis_Exp,No_Exercise,Obesity,Smoker,Diabetes,Uninsured,HPSA_Ind
0,1-1,Alabama,Autauga,48612,82,10.4,26.9,62.3,9.8,0.9,...,3,11,8,2,27.8,24.5,26.6,14.2,5690,2
1,1-3,Alabama,Baldwin,162586,102,10.2,23.5,60.3,14.5,1.8,...,0,27,0,4,27.2,23.6,24.6,7.2,19798,2
2,1-5,Alabama,Barbour,28414,32,22.1,24.3,62.5,11.6,1.6,...,0,6,6,3,-,25.6,17.7,6.6,5126,2
3,1-7,Alabama,Bibb,21516,35,16.8,24.6,63.3,10.9,1.2,...,3,6,2,6,-,-,-,13.1,3315,1
4,1-9,Alabama,Blount,55725,86,11.9,24.5,62.1,12.1,1.3,...,3,8,0,3,33.5,24.2,23.6,8.4,8131,1

In [4]:
ones_df = df.loc[df['HPSA_Ind'] == 1]
twos_df = df.loc[df['HPSA_Ind'] == 2]
print(len(ones_df))
print(len(twos_df))

757
2384